In [16]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [17]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [140]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
df = student_data_df.set_index("grade")
# df.head()
grade_df = df.loc["9th"]
# print(grade_df)
grade_df.loc[:, ["student_name", "school_name", "reading_score", "math_score"]]

             student_name         school_name  reading_score  math_score
grade
9th          Paul Bradley   Huang High School             66          79
9th            Bonnie Ray   Huang High School             97          84
9th         Bryan Miranda   Huang High School             94          94
9th       Brittney Walker   Huang High School             64          79
9th          William Long   Huang High School             71          79
9th         Donald Zamora   Huang High School             88          55
9th     Kimberly Santiago   Huang High School             74          75
9th         Kevin Stevens   Huang High School             64          69
9th          Brandi Lyons   Huang High School             89          80
9th    Christopher Parker   Huang High School             81          68
9th          Cesar Morris   Huang High School             92          70
9th        Melanie Decker   Huang High School             63          85
9th          Bobby Harris   Huang High School             94          99
9th       Gregory Roberts   Huang High School             80          61
9th         Matthew Mayer   Huang High School             79          69
9th          John Carlson   Huang High School             65          89
9th         Megan Roberts   Huang High School             66          90
9th           Amy Perkins   Huang High School             76          66
9th             Jon Smith   Huang High School             96          69
9th          Tracey Yates   Huang High School             83          68
9th       Madeline Snyder   Huang High School             97          56
9th         Theresa Meyer   Huang High School             88          70
9th            Jared Wood   Huang High School             63          89
9th          Eric Maynard   Huang High School             64          95
9th              Erin Liu   Huang High School             78          76
9th    Elizabeth Mckinney   Huang High School             74          81
9th         Ronald Garcia   Huang High School             99          86
9th           Ryan Stokes   Huang High School             75          72
9th         Jessica Smith   Huang High School             77          72
9th        Michael Savage   Huang High School             75          66
...                   ...                 ...            ...         ...
9th         Gloria Wilson  Thomas High School             90          73
9th        Angela Daniels  Thomas High School             86          91
9th         Marcus Morgan  Thomas High School             91          88
9th          Lisa Kennedy  Thomas High School             94          68
9th      Lindsey Thompson  Thomas High School             96          79
9th          Lori Dickson  Thomas High School             81          83
9th        Joseph Burgess  Thomas High School             90          96
9th          Antonio Kirk  Thomas High School             73          74
9th        Jennifer White  Thomas High School             85          94
9th        Carrie Stewart  Thomas High School             83          91
9th         Kimberly Page  Thomas High School             88          85
9th           Stacy Wells  Thomas High School             72          81
9th           Mary Coffey  Thomas High School             93          89
9th           Daniel Best  Thomas High School             86          98
9th        Andrew Merritt  Thomas High School             71          82
9th           Susan Simon  Thomas High School             71          98
9th           Robert Wood  Thomas High School             97          98
9th      Jonathan Mueller  Thomas High School             82          98
9th        Brian Williams  Thomas High School             72          86
9th          Shawn Hayden  Thomas High School             69          78
9th         Laura Webster  Thomas High School             78          81
9th        Monica Hampton  Thomas High School             94          94
9th         Catherine Lee  Thomas High School             83          81
9th    Cheyenne Hernandez  Thomas High School             76          99
9th       Michael Carroll  Thomas High School             69          95
9th            Lori Moore  Thomas High School             98          84
9th       William Hubbard  Thomas High School             80          75
9th      Kristen Gonzalez  Thomas High School             79          94
9th        Joseph Anthony  Thomas High School             97          76
9th        Rebecca Tanner  Thomas High School             73          84

[11408 rows x 4 columns]

In [180]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
# df["math_score"].replace("NaN")
# df_new = df.loc[:, ["reading_score","math_score"]]
# df_new["math_score"].replace("NaN")
# if ["school_name"]=="Thomas High School":
#         math_df["math_score"] = "NaN"
# math_df = grade_df.loc[:, ["student_name", "school_name", "reading_score", "math_score"]]
# print(math_df)
thomas_df = grade_df.loc[grade_df["school_name"]=="Thomas High School", ["student_name", "school_name", "reading_score", "math_score"]]
# if math_df["school_name"] == "Thomas High School":
#     math_df["math_score"] = "NaN"

thomas_df["math_score"] = "NaN"
thomas_df["reading_score"] = "NaN"
print(thomas_df.head())

huang_df = grade_df.loc[grade_df["school_name"]=="Huang High School", ["student_name", "school_name", "reading_score", "math_score"]]
print(huang_df.head())

          student_name         school_name reading_score math_score
grade
9th        Erik Snyder  Thomas High School           NaN        NaN
9th     Tanya Martinez  Thomas High School           NaN        NaN
9th      Noah Erickson  Thomas High School           NaN        NaN
9th       Austin Meyer  Thomas High School           NaN        NaN
9th    Madison Hampton  Thomas High School           NaN        NaN
          student_name        school_name  reading_score  math_score
grade
9th       Paul Bradley  Huang High School             66          79
9th         Bonnie Ray  Huang High School             97          84
9th      Bryan Miranda  Huang High School             94          94
9th    Brittney Walker  Huang High School             64          79
9th       William Long  Huang High School             71          79

In [91]:
#  Step 4. Check the student data for NaN's.

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [181]:
# Combine the data into a single dataset
# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df = pd.merge(grade_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df
frame = [huang_df,thomas_df]
complete_df = pd.concat(frame)
complete_df

             student_name         school_name reading_score math_score
grade
9th          Paul Bradley   Huang High School            66         79
9th            Bonnie Ray   Huang High School            97         84
9th         Bryan Miranda   Huang High School            94         94
9th       Brittney Walker   Huang High School            64         79
9th          William Long   Huang High School            71         79
9th         Donald Zamora   Huang High School            88         55
9th     Kimberly Santiago   Huang High School            74         75
9th         Kevin Stevens   Huang High School            64         69
9th          Brandi Lyons   Huang High School            89         80
9th    Christopher Parker   Huang High School            81         68
9th          Cesar Morris   Huang High School            92         70
9th        Melanie Decker   Huang High School            63         85
9th          Bobby Harris   Huang High School            94         99
9th       Gregory Roberts   Huang High School            80         61
9th         Matthew Mayer   Huang High School            79         69
9th          John Carlson   Huang High School            65         89
9th         Megan Roberts   Huang High School            66         90
9th           Amy Perkins   Huang High School            76         66
9th             Jon Smith   Huang High School            96         69
9th          Tracey Yates   Huang High School            83         68
9th       Madeline Snyder   Huang High School            97         56
9th         Theresa Meyer   Huang High School            88         70
9th            Jared Wood   Huang High School            63         89
9th          Eric Maynard   Huang High School            64         95
9th              Erin Liu   Huang High School            78         76
9th    Elizabeth Mckinney   Huang High School            74         81
9th         Ronald Garcia   Huang High School            99         86
9th           Ryan Stokes   Huang High School            75         72
9th         Jessica Smith   Huang High School            77         72
9th        Michael Savage   Huang High School            75         66
...                   ...                 ...           ...        ...
9th         Gloria Wilson  Thomas High School           NaN        NaN
9th        Angela Daniels  Thomas High School           NaN        NaN
9th         Marcus Morgan  Thomas High School           NaN        NaN
9th          Lisa Kennedy  Thomas High School           NaN        NaN
9th      Lindsey Thompson  Thomas High School           NaN        NaN
9th          Lori Dickson  Thomas High School           NaN        NaN
9th        Joseph Burgess  Thomas High School           NaN        NaN
9th          Antonio Kirk  Thomas High School           NaN        NaN
9th        Jennifer White  Thomas High School           NaN        NaN
9th        Carrie Stewart  Thomas High School           NaN        NaN
9th         Kimberly Page  Thomas High School           NaN        NaN
9th           Stacy Wells  Thomas High School           NaN        NaN
9th           Mary Coffey  Thomas High School           NaN        NaN
9th           Daniel Best  Thomas High School           NaN        NaN
9th        Andrew Merritt  Thomas High School           NaN        NaN
9th           Susan Simon  Thomas High School           NaN        NaN
9th           Robert Wood  Thomas High School           NaN        NaN
9th      Jonathan Mueller  Thomas High School           NaN        NaN
9th        Brian Williams  Thomas High School           NaN        NaN
9th          Shawn Hayden  Thomas High School           NaN        NaN
9th         Laura Webster  Thomas High School           NaN        NaN
9th        Monica Hampton  Thomas High School           NaN        NaN
9th         Catherine Lee  Thomas High School           NaN        NaN
9th    Cheyenne Hernandez  Thomas High School           NaN        NaN
9th       Michael Carroll  Thomas High School           NaN        NaN
9th            Lori Moore  Thomas High School           NaN        NaN
9th       William Hubbard  Thomas High School           NaN        NaN
9th      Kristen Gonzalez  Thomas High School           NaN        NaN
9th        Joseph Anthony  Thomas High School           NaN        NaN
9th        Rebecca Tanner  Thomas High School           NaN        NaN

[1305 rows x 4 columns]

In [182]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["student_name"].count()
print(school_count)
print(student_count)
# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
print(total_budget)

15
11408
24649428

In [185]:
# Calculate the Average Scores using the "clean_student_data".

thomas_df["math_score"] = int(0)
thomas_df["reading_score"] = int(0)
print(thomas_df.head())

frame = [huang_df,thomas_df]
complete_df = pd.concat(frame)
complete_df

average_reading_score = complete_df["reading_score"].mean()
print(average_reading_score)


average_math_score = complete_df["math_score"].mean()
print(average_math_score)

          student_name         school_name  reading_score  math_score
grade
9th        Erik Snyder  Thomas High School              0           0
9th     Tanya Martinez  Thomas High School              0           0
9th      Noah Erickson  Thomas High School              0           0
9th       Austin Meyer  Thomas High School              0           0
9th    Madison Hampton  Thomas High School              0           0
52.57394636015326
49.81685823754789

In [194]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
thomas_student_count = thomas_df["student_name"].count()
print(thomas_student_count)

# Get the total student count 

print(student_count)

# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

print(student_count-thomas_student_count)

461
11408
10947

In [196]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = complete_df[(complete_df["math_score"] >= 70)].count()["student_name"]
print(passing_math_count)
print(passing_math_count/(student_count-thomas_student_count))
passing_reading_count = complete_df[(complete_df["reading_score"] >= 70)].count()["student_name"]
print(passing_reading_count)
print(passing_reading_count/(student_count-thomas_student_count))

575
0.05252580615693797
686
0.06266557047592948

In [202]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = passing_math_count/(student_count-thomas_student_count)
print(passing_math_percentage)

passing_reading_percentage = passing_reading_count/(student_count-thomas_student_count)
print(passing_reading_percentage)

0.05252580615693797
0.06266557047592948

In [203]:
# Calculate the students who passed both reading and math.
passing_math_reading = complete_df[(complete_df["math_score"] >= 70)
                                               & (complete_df["reading_score"] >= 70)]
print(passing_math_reading.head())

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
print(overall_passing_math_reading_count)

# Step 4.Calculate the overall passing percentage with new total student count.

            student_name        school_name  reading_score  math_score
grade
9th           Bonnie Ray  Huang High School             97          84
9th        Bryan Miranda  Huang High School             94          94
9th         William Long  Huang High School             71          79
9th    Kimberly Santiago  Huang High School             74          75
9th         Brandi Lyons  Huang High School             89          80
459

In [212]:
# Create a DataFrame
# district_summary_df = pd.DataFrame(
#           [{"Total Schools": school_count, 
#           "Total Students": student_count, 
#           "Total Budget": total_budget,
#           "Average Math Score": average_math_score, 
#           "Average Reading Score": average_reading_score,
#           "% Passing Math": passing_math_percentage,
#          "% Passing Reading": passing_reading_percentage,
#         "% Overall Passing": overall_passing_percentage}])


district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage * 100,
         "% Passing Reading": passing_reading_percentage * 100}])



# # district_summary_df

# # Format the "Total Students" to have the comma for a thousands separator.
# district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# # Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
# district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# # Format the columns.
# district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
# district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
# district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
# district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
# # district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# # Display the data frame
district_summary_df

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Schools,Total Students
0,5.252581,6.266557,49.816858,52.573946,24649428,15,11408

##  School Summary

In [15]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [16]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [17]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [18]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).

In [19]:
# Step 6. Get all the students passing math from THS

In [20]:
# Step 7. Get all the students passing reading from THS

In [21]:
# Step 8. Get all the students passing math and reading from THS

In [22]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School.

In [23]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.

In [24]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School.

In [25]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

In [26]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

In [27]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [28]:
# per_school_summary_df

## High and Low Performing Schools

In [29]:
# Sort and show top five schools.

In [30]:
# Sort and show top five schools.

## Math and Reading Scores by Grade

In [31]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [32]:
# Combine each Series for average math scores by school into single data frame.

In [33]:
# Combine each Series for average reading scores by school into single data frame.

In [34]:
# Format each grade column.

In [35]:
# Remove the index.


# Display the data frame

In [36]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [37]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [38]:
# Calculate averages for the desired columns.

In [39]:
# Create the DataFrame

In [40]:
# Format the DataFrame

## Scores by School Size

In [41]:
# Establish the bins.

# Categorize spending based on the bins.

In [42]:
# Calculate averages for the desired columns.

In [43]:
# Assemble into DataFrame.

In [44]:
# Format the DataFrame

## Scores by School Type

In [45]:
# Calculate averages for the desired columns.

In [46]:
# Assemble into DataFrame.

In [47]:
# # Format the DataFrame